<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts) { %>
        <div>
            <h2>@ <%= post.username %> </h2>
            <h3> <%= post.content %> </h3>
            <h4> <%= post.id %></h4>
        </div>
    <% } %>
    <br><br>
    <a href="http://localhost:3000/posts/new">Create New Post</a>
</body>
</html>
