<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Post in details</title>
        <link rel="stylesheet" href="/style.css">
    </head>

	<body>
		<h2>Here your post in details</h2>
		<p>Post id: <%= post.id %></p>
		<div>
			<h2>@ <%= post.username %></h2>
			<h3><%= post.content %></h3>
		</div>
	</body>
</html>
